:root {
  --main-bg-light-color: #F7F7F7;
  --main-bg-dark-color: #2F2F2F;
  --header-bg-light: #2F6CA4;
  --header-bg-dark: #2F2F2F;
  --text-light-color: #000000;
  --text-dark-color: #FFFFFF;
  --secound-bg-light: #FAA037;
  --secound-bg-dark: #212020;
  --text-box-light: #F0EFEF;
  --text-box-dark: #505050;
  --arrow-light: #165805;
  --arrow-dark: #FAA037;
  --full-white: #FFFFFF;
}

.about-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.general-container-light {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% + 100px);
  background-color: var(--secound-bg-light);
  padding-top: 5px;
  padding-bottom: 10px;
}

.general-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% + 100px);
  background-color: var(--secound-bg-dark);
  padding-top: 5px;
  padding-bottom: 10px;
}

#tecnologies-light {
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 90%;
  min-height: 165px;
  max-height: 252px;
  margin-right: 14%;
  margin-left: 2%;
  margin-top: 10px;
  padding: 10px 20px 8px 20px;
  background-color: var(--text-box-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: scroll;
}

#tecnologies-dark {
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 90%;
  min-height: 165px;
  max-height: 252px;
  margin-right: 14%;
  margin-left: 2%;
  margin-top: 10px;
  padding: 10px 20px 8px 20px;
  background-color: var(--text-box-dark);
  color:var(--text-dark-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: scroll;
}

.article-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 242px;
}

.tech-icon {
  height: 50px;
  width: 50px;  
  margin: 2px;
}

.tech-icon:nth-child(1) {
  transform: scale(1.3); 
}

.tech-description-container-light {
  box-sizing: border-box;
  max-height: 50%;
  background-color: var(--text-box-light);
  max-width: 90%;
  overflow: scroll;
  margin-top: 25px;
  margin-left: 8%;
  padding: 10px 20px;
  text-align: justify;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tech-description-container-dark {
  box-sizing: border-box;
  color: var(--text-dark-color);
  max-height: 50%;
  background-color: var(--text-box-dark);
  max-width: 90%;
  overflow: scroll;
  margin-top: 25px;
  margin-left: 8%;
  padding: 10px 20px;
  text-align: justify;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tech-name {
  border-bottom: 1px solid var(--text-dark-color);
  margin-bottom: 4px;
}
